table {
    width: 50%;
    border: 1px solid black;
    border-collapse: collapse;
    margin-bottom: 20%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}