<p>routing-ass5 works!</p>
<!-- <div class="myStyle" [ngStyle]="{'background-color':test}"> -->
<div class="myStyle">
    <div class="styleLeft"> 
        <ul>
            <li (click)="selectedTab='Tab1'">Tab 1</li>
            <li (click)="selectedTab='Tab2'">Tab 2</li>     
        </ul>       
    </div>

    <div class="styleRight" [ngSwitch]="selectedTab">
        <div *ngSwitchCase="'Tab1'">
            <div class="container-fluid">
                <div class="container">
                    <h2>This is Sign In Page</h2>
                    <form #myFormSignIn="ngForm" (ngSubmit)="SentFormData(myFormSignIn.value)">
                        <div class="mb-3 mt-3">
                            <label for="Name" class="form-label">UserName:</label>
                            <input type="text" class="form-control" placeholder="Enter UserName" name="uName" #uName="ngModel" minlength="3" maxlength="10" required ngModel />
                            <span *ngIf="uName.pristine">Please fill out this field.</span>
                            <span *ngIf="uName.invalid && uName.dirty">The maxlength for name is 5 letters.</span>
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="Email" class="form-label">Email:</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Enter Email" name="nEmail" #nEmail="ngModel" required ngModel >
                                <span class="input-group-text">@gmail.com</span>
                            </div>                
                            <span *ngIf="nEmail.pristine">Please fill out this field.</span>
                            <span *ngIf="nEmail.invalid && nEmail.dirty">Please fill out this field.</span>
                        </div>                        
                        <div class="row">
                            <div class="col-lg-1">
                                <button type="submit" class="btn btn-primary" [disabled]="myFormSignIn.invalid">Submit</button>
                            </div>
                            <div class="col-lg-1">
                                <!-- <button type="submit" class="btn btn-success">Register</button> -->
                                <a routerLinkActive="active" class="btn btn-success" href="routing-register">Register</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div *ngSwitchCase="'Tab2'">
            
        </div>
        <div class="pb-3" *ngSwitchDefault>Default Page</div>
    </div>
</div>